[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = never:silent

# SA1205: Partial elements should declare access
dotnet_diagnostic.SA1205.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none
